@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600");

$family-primary: "Source Serif Pro", serif;

$red: hsl(7, 76%, 50%);
$beige-lighter: #fdfcf3;

$link: $red; 
$desktop: 800px;
// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

//$body-background-color: $beige-lighter;

@import "../_bulma/bulma.sass";