<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link 
          rel="stylesheet" 
          href="/css/style.css"
        />
    </head>
    <body>
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a 
              class="navbar-item"
              href="/index.html"
            >
              daniel.cellu.cc
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a 
                class="navbar-item"
                href="/works.html"
              >
                Works
              </a>
              <a 
                class="navbar-item"
                href="/thoughts.html"
              >
                Thoughts
              </a>
              <a 
                class="navbar-item"
                href="/about.html"
              >
                About
              </a>
            </div>
          </div>
        </div>
      </nav>
      <section class="section">
        <div class="content is-medium">
          <div class="container">
            <h1 class="title has-text-centered mb-0">
              {{ page.title }}
            </h1>
            <h4 class="title has-text-centered mb-6">
              <i>{{ page.description }}</i>
            </h4>
            {{ page.content }}
          </div>
        </div>
      </section>
    </body>
</html>
